.mealsection{
    background-color: white;
    color: black;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 60rem;
    width: 90%;
    border-radius: 14px;
    padding: 1rem;
}
.section{
    padding: 10px;
}
.box{
    display: flex;
}
