.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1000; /* Ensure it's on top of other content */
    
}
.cart{
    position: fixed;
    top: 35%;
    left: 35%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1050; /* Ensure it's above the overlay */
    width: 500px; /* Adjust width as needed */
    border-radius: 10px;
}
.buttons{
    float: right;
}
.button1{
    background-color: white;
    color: #7c3217;
    font-weight: bold;
    padding: 0.5rem 2rem;
    margin: 10px 10px 10px 10px;
    border-radius: 25px;
}
.button2{
    background-color:#7c3217;
    color: white;
    font-weight: bold;
    padding: 0.5rem 2rem;
    margin-top: 10px;
    border-radius: 25px;
}
strong{
    margin: 10px;
}
span{
    float: right;
}