.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);

}
.cart-items{
    max-height: 20rem;
    overflow: scroll;
}
.cart {
    position: fixed;
    top: 20vh;
    left: 25%;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 30;
    width: 600px;
    border-radius: 14px;
    animation: slide-down 300ms ease-out forwards;
}

.buttons {
    float: right;
}

.button1 {
    background-color: white;
    color: #7c3217;
    font-weight: bold;
    padding: 0.5rem 2rem;
    margin: 10px 10px 10px 10px;
    border-radius: 25px;
}

.button2 {
    background-color: #7c3217;
    color: white;
    font-weight: bold;
    padding: 0.5rem 2rem;
    margin-top: 10px;
    border-radius: 25px;
}

strong {
    margin: 10px;
}

span {
    float: right;
}